.progression {
    display: flex;
}

.grid {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}


.grid__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid__header-cell {
    padding: 4px;
}

.grid__row {
    display: flex;
    flex-direction: row;
}

.grid__row--current {
    box-shadow: 0 0 0 5px #F7642C;
    position: relative;
    z-index: 1;
}

.grid__cell {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}

.grid__cell--alive {
    background-color: #3885ED;
}

.grid__cell--togglable {
    cursor: pointer;
}

.grid__cell--togglable:hover {
    background-color: #FBF043;
}

.grid__cell--togglable.grid__cell--alive {
    background-color: forestgreen;
}

.grid__cell--togglable.grid__cell--alive:hover {
    background-color: rgb(41, 179, 41);
}

.grid__cell--togglable:active, .grid__cell--togglable.grid__cell--alive:active {
    background-color: #F7642C;
}